body {
  font-family: sans-serif;
  text-align: center;
  background-image: linear-gradient(to top left, #ef473e, #4da0b0);
}

html {
  height: 100vh;
}

#num1,
#num2 {
  width: 100px;
}

.hover {
  background-color: rgba(231, 231, 1, 0.73);
}

div {
  padding-bottom: 20px;
}
